<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body class="text-center" style="margin: 30px">
<br/>
<h1 > Log in to Persons Managment site</h1>
<br/>
<div th:if="${isValid != null}" class="alert alert-danger">
    <h1 th:text="${isValid}"></h1>
</div>

<div th:if="${logoutMessage  != null}" class="alert alert-success" role="alert">
    <h1 th:text="${logoutMessage}"></h1>
</div>
<center>
<form style="width: 30%" method="post" action="/login">
<div>

    <div class="input-group" style="margin-bottom: 5px">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
        <input  type="text" class="form-control" th:name="login" placeholder="Login">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" th:name="password" placeholder="Password">
    </div>
    <br/><br/>
    <button type="submit" class="btn btn-primary">Log In</button>
</div>
</form>
</center>
</body>
</html>